# 함수 구조

In [2]:
def add(a, b): 
    return a + b

In [4]:
a = 3
b = 4
c = add(a, b)  
print(c)

7

In [6]:
def add(a, b):  # a, b는 매개변수
    return a+b

print(add(3, 4))  # 3, 4는 인수

7

# 일반적인 함수

In [9]:
def add(a, b): 
    result = a + b 
    return result

In [11]:
a = add(3, 4)
print(a)

7

# 입력값이 없는 함수

In [13]:
def say(): 
     return 'Hi'

In [15]:
a = say()
print(a)

Hi

# 리턴값이 없는 함수

In [17]:
 def add(a, b): 
     print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [19]:
add(3, 4)

3, 4의 합은 7입니다.

In [22]:
a = add(3, 4) 
print(a)

3, 4의 합은 7입니다.
None

# 입력값도, 리턴값도 없는 함수

In [24]:
def say(): 
     print('Hi')

# 매개변수를 지정하여 호출하기

In [26]:
def sub(a, b):
     return a - b

In [28]:
result = sub(a=7, b=3)  #매개변수 지정시 순서 상관없음
print(result)

4

In [31]:
result = sub(b=7, a=3)  
print(result)

-4

In [44]:
def fn(*args):
    print(args)

In [45]:
fn()

()

In [39]:
>>> def add_many(*args): #args=인수를 뜻하는 arguments의 약수 
...     result = 0 
...     for i in args: 
...         result = result + i   # *args에 입력받은 모든 값을 더한다.
...     return result

In [121]:
result = add_many(1,2,3)  ###수정####\
print('함수 안에서 실행',result)
 
result=add_many(1,2,3)  
print('함수 밖에서 실행',result)

함수 안에서 실행 6
함수 밖에서 실행 6

In [59]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print('함수 안에서 실행',result)

함수 안에서 실행 55

In [57]:
>>> def add_mul(choice, *args): #고정인수가 첫번째로 나와야함
...     if choice == "add":   # 매개변수 choice에 "add"를 입력받았을 때
...         result = 0 
...         for i in args: 
...             result = result + i 
...     elif choice == "mul":   # 매개변수 choice에 "mul"을 입력받았을 때
...         result = 1 
...         for i in args: 
...             result = result * i 
...     return result

In [61]:
result = add_mul('add', 1,2,3,4,5)
print(result) 

result = add_mul('mul', 1,2,3,4,5)
print(result)

15
120

# 키워드 매개변수

In [64]:
def print_kwargs(**kwargs): #매개변수 앞 ** 2개를 붙인다
     print(kwargs)

In [65]:
print_kwargs()

{}

In [70]:
print_kwargs(a=1)

print_kwargs(name='foo', age=3)

{'a': 1}
{'name': 'foo', 'age': 3}

# 함수의 리턴값은 언제나 하나이다.

In [78]:
>>> def add_and_mul(a,b): 
...     return a+b, a*b

In [80]:
>>> result = add_and_mul(3,4)

In [82]:
result

(7, 12)

In [85]:
result1, result2 = add_and_mul(3,4) #받고싶은 값만 받을 수 있음
print(result1) 
print(_)#실제로 변수를 받는 것, 가독성 목적

7
(7, 12)

In [6]:
>>> def add_and_mul(a,b): 
...     return a+b, a*b 
result = add_and_mul(2,3) #함수는 return 을 만나는 순간 값을 반환하고 함수를 빠져나감(값 출력 X) 
print(result)

(5, 6)

# 매개변수에 초깃값 미리 설정하기

In [90]:
>>> def say_nick(nick): 
...     if nick == "바보": 
...         return 
...     print("나의 별명은 %s 입니다." % nick)

In [93]:
>>> say_nick('야호')
>>> say_nick('바보')

나의 별명은 야호 입니다.

# 매개변수에 초깃값 미리 설정하기

In [97]:
# default1.py
def say_myself(name, age, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % age) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")

In [100]:
say_myself("박응용", 27)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [103]:
say_myself("박응용", 27, True)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [105]:
say_myself("박응선", 27, False)

나의 이름은 박응선 입니다.
나이는 27살입니다.
여자입니다.

In [107]:
# default2.py (초기 매개변수는 맨 뒤에)
def say_myself(name, man=True, age): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % age) 
    if man: 
        print("남자입니다.") 
    else: 
        print("여자입니다.")

SyntaxError: non-default argument follows default argument (1837168573.py, line 2)

# 함수 안에서 선언한 변수의 효력 범위(지역vs전역)

In [109]:
# vartest.py
a = 1 #전역변수
def vartest(a):
    a = a +1 #지역변수 / 함수 안에서만 사용 /선언만, 리턴 안함

vartest(a)
print(a)

1

In [113]:
def vartest(aa): #매개변수 이름
    aa = aa +1 #지역변수 

vartest(3)
print(aa)#전역변수 요청 /에러 발생

NameError: name 'aa' is not defined

# 함수 안에서 함수 밖의 변수를 변경하는 방법

In [115]:
# vartest_return.py /리턴 사용하기
a = 1 
def vartest(a): 
    a = a +1 
    return a

a = vartest(a) #전역변수에 함수 리턴값이 대입
print(a)

2

In [117]:
# vartest_global.py/ global 명령어 사용하기
a = 1 
def vartest(): 
    global a #함수 안에서 함수 밖에 a변수를 직접 사용(전역함수 선언)
    a = a+1

vartest() #입력도 없고 출력도 없음
print(a)

2

# lambda

In [ ]:
# 함수_이름 = lambda 매개변수1, 매개변수2, ... : 매개변수를_이용한_표현식

In [119]:
add = lambda a, b: a+b #식형태로 되어있다고 하여 'lamda' /일회성 데이터 정제처리시
result = add(3, 4)
print(result)

7

In [122]:
#def 함수와 동일 
def add(a, b):
     return a+b

result = add(3, 4)
print(result)

7

# 사용자 입출력

>>> a = input()

>>> a

# print 자세히 알기

In [129]:
>>> a = 123
>>> print(a)

>>> a = "Python"
>>> print(a)

>>> a = [1, 2, 3]
>>> print(a)

123
Python
[1, 2, 3]

In [131]:
# 큰따옴표로 둘러싸인 문자열은 + 연산과 동일하다 
>>> print("life" "is" "too short")  # 1번

>>> print("life"+"is"+"too short")  # 2번

lifeistoo short
lifeistoo short

In [132]:
# 문자열 띄어쓰기는 쉼표로 한다 
>>> print("life", "is", "too short")

life is too short

In [133]:
# 한 줄에 결괏값 출력하기 
>>> for i in range(10):
...     print(i, end=' ')

0 1 2 3 4 5 6 7 8 9